include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pytest.ini
include pyproject.toml
include setup.cfg
include mypy.ini
recursive-include src *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
global-exclude *.pyc
global-exclude .DS_Store